@tailwind base;
@tailwind components;
@tailwind utilities;

#site-wrap {
	height: 100%;
}
#site-wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}
:root {
	/* Harmonija Vita paleta */
	--hv-beige-1: #e3e2dd;
	--hv-beige-2: #e4e3de;
	--hv-beige-3: #dfd1c4;
	--hv-beige-4: #e0d2c5;
	--hv-beige-5: #e0d2c7;
	--hv-beige-6: #e1d3c8;

	/* Akcentne boje iz loga */
	--hv-gold: #c7a35e;
	--hv-green: #70a461;
}
@font-face {
  font-family: "BeauRivage";
  src: url("./fonts/BeauRivage-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.svg {
	filter: brightness(0) saturate(100%) invert(100%) sepia(7%) saturate(648%)
		hue-rotate(248deg) brightness(120%) contrast(100%);
}
.svgColor {
	filter: brightness(0) saturate(100%) invert(60%) sepia(9%) saturate(2300%)
		hue-rotate(61deg) brightness(103%) contrast(62%);
}
body {
	background-color: var(--hv-beige-6);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
